- var title = "Default title";
- var bodyClass = "";

block vars

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= title
    link(href="css/style.css" + assetVersion, rel="stylesheet")
  body(class=bodyClass)
    section.wrapper
      nav
        ul
          li
            a(href="/") Home
          li
            a(href="page.html") Page

        p Hello there

      section.section
        block content

    script(src="js/scripts.js" + assetVersion)
