- var title = 'Title par défaut';
- var bodyClass = '';

block vars

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= title
    link(href="css/style.css", rel="stylesheet")
  body(class=bodyClass)
    nav
      ul
        li
          a(href="/") Index
        li
          a(href="aheuh.html") Aheuh

    img(src="images/content/content-aheuh.jpg", alt="")

    block content

    script(src="js/script.js")
