doctype html
html(lang="en")
  head
    title= pageTitle
    link(href='index.css' rel='stylesheet')
    script(type='text/javascript').
      if (foo) {
         bar(1 + 5)
      }
  body
    h1 Jade - node template engine
    #container.col
      p.
        Jade is a terse and simple
        templating language with a
        strong focus on performance
        and powerful features.
      p
        image(src='/images/aheuh.jpg')
