extends ./layouts/default.pug

block vars
  - pageTitle = "Page";
  - bodyClass = "page";

block content
  // Main
  main.main
    // Section
    section.section
      .container
        h1 Page
        h2 This is section 1
        p This is a paragraph.

    // Section
    section.section
      .container
        h2 This is section 2
        include partials/unicorn.pug
